<h1>Cosmos Db Objetos</h1>

<p>
	Aquí creamos nuestros recursos en Cosmos, solamente UNA VEZ.
</p>

<form method="post">
	<button class="btn btn-outline-danger" name="accion" value="">
		Crear Database y Container
	</button>
</form>

<h3 style="color:blue">@ViewData["MENSAJE"]</h3>